
@{
    ViewBag.Title = "CustomerProfile";
    Layout = "~/Views/Shared/_SecondaryMaster.cshtml";
}
@using Vereyon.Web
@model DS32017_WeedHackers.Models.CustomerModels.CustomerInformationModel
<header>Customer Profile </header>
<div>
   
    <strong style="color:white">Profile Information</strong>
    @Html.RenderFlashMessages()
    <table class="table">
        <thead>
        <tr>
            <th>
                <div class="glyphicon-align-center">
                    <img src="~/Content/Images/1493854640_user_male2.png"/>
                </div>

            </th>
            <th>
                <fieldset>
                    Name:&nbsp;@Model.CurrentCustUser.Name&nbsp;@Model.CurrentCustUser.Surname<br/>
                    Email:&nbsp;@Model.CurrentCustUser.Email<br/>
                    Contact Details:&nbsp;@Model.CurrentCustUser.PhoneNumber<br/>
                    Address:&nbsp;@Model.CurrentCustomer.Address<br/>
                    Customer Type:@Model.CurrentCustomer.CustomerType.Name
                </fieldset>
            </th>
            <th><button type="button" class="btn btn-success btn-lg fa fa-pencil" data-toggle="modal" data-target="#myModal"></button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Customer Details</h4>
                </div>
                <div class="modal-body">
                    <fieldset style="text-align: center">
                        @using (Html.BeginForm("UpdateDetails", "Customer", FormMethod.Post))
                        {
                            @Html.ValidationMessageFor(u => u.CurrentCustUser.Email)<br/>
                            @Html.LabelFor(u => u.email)<br/>
                            @Html.TextBoxFor(u => u.email)<br/>

                            @Html.ValidationMessageFor(u => u.CurrentCustUser.Password)<br/>
                            @Html.LabelFor(u => u.password)<br/>
                            @Html.TextBoxFor(u => u.password)<br/>

                            @Html.ValidationMessageFor(u => u.CurrentCustUser.PhoneNumber)<br/>
                            @Html.LabelFor(u => u.phonenumber)<br/>
                            @Html.TextBoxFor(u => u.phonenumber)<br/>

                            @Html.ValidationMessageFor(u => u.CurrentCustomer.Address)<br/>
                            @Html.LabelFor(u => u.Address)<br/>
                            @Html.TextBoxFor(u => u.Address)<br/>
                            <input type="submit" class="btn btn-success" value="Update"/>
                        }
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>
